.digital-coupon {
  height: 175px;
  background-color: #313131;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px), only screen and (min-width: 481px) {
 
 .digital-coupon {
  height: 420px;
  background-color: #313131;
  }
}